<div class="container">
  <div class="well">
    <div class="form-group">
      <div class="well">
        <h1>{{title}}</h1>
        <div class="card" style="width: 18rem;" *ngFor="let currentBeer of childBeerList">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body" >
            <h5 class="card-title">{{currentBeer.tapNumber}}) {{currentBeer.brandName | uppercase}}</h5>
            <p class="card-text">{{currentBeer.name}}, {{currentBeer.style}}, {{currentBeer.percentage}} ${{currentBeer.price}}</p>
            <!-- <p id="newBeerAdded"></p> -->
            <button (click)="editButtonClicked(currentBeer)">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
